body{
    font-family: 'Kaushan Script', cursive;
    background-image: linear-gradient(to right,cyan,fuchsia,blue,magenta,aqua)

}

.header_div
{
    background:mintcream;
    color: blue;
}

.header_div img
{
width: 100px;
}
.main_div
{

    padding: 10px;
    margin-top: 15px;
    border: 3px solid black;
}

.main_div label 
{
    background: rgb(255, 84, 227);
    width: 310px;
    padding: 10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 50px yellow;
    color: black;
}

#camera
{
    border: 2px solid snow;
    width: 310px;
    height: 300px;
    box-shadow: 5px 5px 5px blueviolet;
}

.main_div button
{
width: 310px;
font-size: 16px;
box-shadow: 5px 5px 50px magenta;
border: 3px solid;
}

.footer_div
{
    margin-bottom: 50px;
}

.footer_div h4
{
    background: aqua;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 50px blue; 
}

.footer_div img
{
    width: 70px;
}

.copy_right_footer {
    position: fixed;
    color:black;
    bottom:0;
    width: 100%;
    line-height: 3;
    text-align: center;
    font-size: 20px;
}
